@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --colorBlueDark: #0065fc;
  --colorGrayLight: #f2f2f2;
  --colorBlueLight: #deebff;
}

body {
  font-family: "Raleway", Times New Roman, Times, serif;
  font-size: small;
  margin: 0;
  padding: 0;
  background: magenta; /* aide visuelle */
  border: red solid; /*av*/
}

div#containerPage {
  background: khaki; /*av*/
  width: 90%;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr 5fr 6fr 5fr 1fr;
  grid-template-areas:
    "header header"
    "main main"
    "accommodation aside"
    "activity activity"
    "footer footer";
}
/* Block 1- <Header> - Desktop format */
header {
  grid-area: header;
}
/* End block 1- <Header> - Desktop format */

/* Block 2- <Main reseach> - Desktop format */
main {
  grid-area: main;
}
/* End block 2 - <Main reseach> - Desktop format */

/* Block inline 3.1 - <Section Accommodation> - Desktop format */
section#accomodation {
  grid-area: accommodation;
}
/* End block inline 3.1 - <Section Accommodation> - Desktop format */

/* Block inline 3.2 - <Aside The Most popular> - Desktop format */
aside {
  grid-area: aside;
}
/* End block inline 3.2 - <Aside The Most popular> - Desktop format */

/* Block 4 - <Section Activity> - Desktop format */
section#activity {
  grid-area: activity;
}
/* End block 4 - <Section Activity> - Desktop format */

/* Block 5 - <Footer> - Desktop format */
footer {
  grid-area: footer;
}
/* End block 5 - <Footer> - Desktop format */
/*  End Desktop format */

/*  Tablet  format */
/* Block 1- <Header> - Tablet format */
/* End block 1- <Header> - Tablet format */

/* Block 2 - <Main reseach> - Tablet format */
/* End block 2 - <Main reseach> - Tablet format */

/* Block 3.1 - <Section Accommodation> - Tablet format */
/* End block 3.1 - <Section Accommodation> - Tablet format */

/* Block 3.2 - <Aside The Most popular> - Tablet format */
/* End block 3.2 - <Aside The Most popular> - Tablet format */

/* Block 4 - <Section Activity> - Tablet format */
/* End block 4 - <Section Activity> - Tablet format */

/* Block 5 - <Footer> - Tablet format */
/* End block 5 - <Footer> - Tablet format */
/*  End Tablet  format */

/*  Mobile format */
/* Block 1- <Header> - Mobile format */
/* End block 1- <Header> - Mobile format */

/* Block 2 - <Main reseach> - Mobile format */
/* End block 2 - <Main reseach> - Mobile format */

/* Block 3.1 - <Section Accommodation> - Mobile format */
/* End block 3.1 - <Section Accommodation> - Mobile format */

/* Block 3.2 - <Aside The Most popular> - Mobile format */
/* End block 3.2 - <Aside The Most popular> - Mobile format */

/* Block 4 - <Section Activity> - Mobile format */
/* End block 4 - <Section Activity> - Mobile format */

/* Block 5 - <Footer> - Mobile format */
/* End block 5 - <Footer> - Mobile format */
/*  End Mobile format */
/* End */
