@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --colorBlueDark: #0065fc;
  --colorGrayLight: #f2f2f2;
  --colorBlueLight: #deebff;
}

body {
  font-family: "Raleway", Times New Roman, Times, serif;
  /*font-size: small;*/
  margin: 0;
  padding: 0;
  max-width: 1440px;
  margin: auto;
  background: magenta; /* aide visuelle */
  border: blueviolet solid; /*av*/
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

div#containerPage {
  background: khaki; /*av*/
  width: 94%;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr 5fr 6fr 5fr 1fr;
  grid-template-areas:
    "header header"
    "main main"
    "accommodation aside"
    "activity activity"
    "footer footer";
}
/* Block 1- <Header> - Desktop format */
header {
  grid-area: header;
}

header#topNav {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr 1fr;
  grid-template-areas: "logo vide nav signUp";
  height: 120px;
  align-items: center;
}

/*#logo {
  grid-area: logo;
}*/

figure {
  margin: 0;
}

header ul {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

nav {
  /* grid-area: nav;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 60px;
}

nav a:hover {
  color: #0065fc;
  border-top: solid var(--colorBlueDark);
}

/*div#signUp {
  grid-area: signUp;
}*/

/* End block 1- <Header> - Desktop format */

/* Block 2- <Main reseach> It is divided into 4 sections - Desktop format */
main {
  grid-area: main;
}

/* Main 1st section : Introduction of the reseach zone */
Main section {
  background: white; /* av */
}

main h1 {
  margin: 5px 0;
}

main p {
  margin-bottom: 25px;
}

/* Main 2nd section : Research bar */
form {
  height: 50px;
  display: flex;
  align-items: center;
}

form label {
  background: var(--colorGrayLight);
  height: 100%;
  border-radius: 10px 0 0 10px;
}

label i {
  font-size: 20px;
  text-align: center;
  width: 50px;
  padding-top: 15px;
}

form input {
  border: var(--colorGrayLight) solid;
  height: 84%;
  width: 25%;
  font-weight: bolder;
}

form .buttonSearch {
  height: 70%;
  background-color: var(--colorBlueDark);
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

form .iconSearch {
  display: none;
}

form a:hover {
  color: #000;
}

/* Main 3rd section : Filters*/
section#filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-bottom: 15px;
  column-gap: 25px;
  font-weight: bolder;
}

#filters p {
  padding-top: 17px;
  font-size: 18px;
  font-weight: bold;
}

div.filterButton {
  border-radius: 50px;
  border: solid var(--colorGrayLight);
  max-height: 50px;
}

div.filterButton:hover {
  background-color: var(--colorBlueDark);
}

button.iconFilter {
  color: var(--colorBlueDark);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 19px;
  text-align: center;
  background-color: var(--colorGrayLight);
  border: none;
  max-height: 50px;
}

button.filterLabel {
  border: none;
  max-height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: bold;
  background: none;
}

.filterLabel a:hover {
  color: #fff;
}

/* Main 4th section : Search result - number of homes found */
div#iconI {
  width: 23px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
  color: var(--colorBlueDark);
  border: solid var(--colorGrayLight);
  margin-right: 10px;
}

section#infoResult {
  display: flex;
}

#infoResult p {
  padding-top: 5px;
}

/* End block 2 - <Main reseach> - Desktop format */

/* Block inline 3.1 - <Article Accommodation> - Desktop format */
article#accommodation {
  grid-area: accommodation;
  background-color: var(--colorGrayLight);
  border-radius: 20px;
  margin-right: 10px;
  /*padding: 0 10px;*/
}

#accommodation h2 {
  padding-left: 5%;
}

div#blockCardsAccommodation {
  max-width: 96%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*div#blockCardsAccommodation a {
  background: red;
}*/

div.CardAccommodationItem {
  max-width: 240px;
  height: 195px;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 20px;
  margin: 0 15px 30px;
}

div.CardAccommodationItem:hover {
  background-color: var(--colorGrayLight);
  box-shadow: 5px 5px 15px;
}

.CardAccommodationItem img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

div.textCardAccommodation {
  height: 85px;
  padding-left: 13px;
}

.textCardAccommodation h3,
p {
  margin: 0;
  padding-top: 1px;
}

.textCardAccommodation div {
  font-size: small;
  padding-top: 5px;
}

p#readMoreAccommodation {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 5%;
}

p#readMoreAccommodation :hover {
  text-decoration: underline;
}

/* End block inline 3.1 - <Section Accommodation> - Desktop format */

/* Block inline 3.2 - <Aside The Most popular> - Desktop format */
aside {
  grid-area: aside;
  border-radius: 20px;
  background: var(--colorGrayLight);
  padding: 0 30px;
}

div#titleAside {
  max-width: 350px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div#blockCardsAside {
  max-width: 350px;
  margin: auto;
}

div.cardAsideItem {
  display: grid;
  grid-template-columns: 135px 215px;
  /* grid-template-columns: 38.57% 81.43%;*/
  max-width: 340px;
  height: 140px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 5px solid #fff;
  background: #fff;
}

div.cardAsideItem:hover {
  box-shadow: 5px 5px 15px;
}

aside img {
  object-fit: cover;
  width: fit-content;
  max-width: 100%;
  height: 140px;
  border-radius: 20px 0 0 20px;
}

div.textCardAside {
  border-radius: 0 20px 20px 0;
  padding-left: 15px;
}

.textCardAside h3 {
  margin: 10px 0;
}

.textCardAside p {
  margin-bottom: 25px;
}

/* End block inline 3.2 - <Aside The Most popular> - Desktop format */

/* Block 4 - <Section Activity> - Desktop format */
section#activity {
  grid-area: activity;
}
/* End block 4 - <Section Activity> - Desktop format */

/* Block 5 - <Footer> - Desktop format */
footer {
  grid-area: footer;
}
/* End block 5 - <Footer> - Desktop format */
/*  End Desktop format */

/* medium Desktop format
@media screen and (min-width: 1076px) and (max-width: 1420px) {
  header {
    background: pink; /*av
  }

  article#accommodation {
    background: pink; /* av
  }
}*/
/* end Medium desktop format */

/* Mini Desktop format  */
@media screen and (min-width: 1006px) and (max-width: 1075px) {
  header {
    background: yellow; /*av*/
  }
  article#accommodation {
    background: yellow;
  }

  /* div.filterButton:last-child {
    margin: auto;
  }*/

  div.CardAccommodationItem {
    min-width: 350px;
  }
}
/* end Mobile big format */

/* Tablet Big format format  */
@media screen and (min-width: 821px) and (max-width: 1005px) {
  header {
    background: yellowgreen; /*av*/
  }

  article#accommodation {
    background: yellowgreen; /* av */
  }

  div.filterButton:last-child {
    margin: auto;
  }

  div.CardAccommodationItem {
    min-width: 300px;
  }
}
/* end Tablet Big format */

/* Tablet Little format */
@media screen and (min-width: 656px) and (max-width: 820px) {
  div#containerPage {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "main "
      "aside"
      "accommodation"
      "activity"
      "footer ";
  }

  header {
    background: orange; /*av*/
  }

  section#introMain {
    text-align: center;
  }

  section#introMain h1 {
    background: red;
  /*font-size:160%; */
  }

  form {
    width: 80%;
    margin: auto;
  }

  form input {
    width: 80%;
  }

  section#filters {
    margin-top: 30px;
    justify-content: space-around;
  }

  aside {
    background: orange /* av */;
  }

  div.cardAsideItem {
    min-width: 350px;
  }

  article#accommodation {
    background: orange; /* av */
    text-align: center;
    margin: 0;
  }

  article#accommodation h2 {
    padding: 0;
  }
}
/* end Tablet Little format */

/*  Mobile format */
@media screen and (max-width: 655px) {
  div#containerPage {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "main "
      "aside"
      "accommodation"
      "activity"
      "footer ";
  }

h2 {
  font-size: 130%;
}

  /* Block 1- <Header> - Mobile format */

  Header#topNav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    background: aqua; /* av */
  }

  #vide {
    flex-grow: 1;
  }

  nav {
    order: 3;
    width: 100%;
  }

  nav a {
    padding: 10px;
    border-bottom: solid var(--colorGrayLight);
  }

  nav a:hover {
    border-top: none;
    border-bottom: solid var(--colorBlueDark);
  }

  /* End block 1- <Header> - Mobile format */

  /* Block 2 - <Main reseach> It is divided into 4 sections - Mobile format */

  /* 1st section : Introduction of the reseach zone - Mobile format */

  main p {
    font-size: 18px;
  }

  /* 2nd section : Research bar - Mobile format */

  form .buttonSearch {
    display: none;
  }

  form .iconSearch {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    width: 50px;
    height: 33px;
    padding-top: 17px;
    background-color: var(--colorBlueDark);
    color: #fff;
    border: solid var(--colorBlueDark);
  }

  form {
    border: solid var(--colorGrayLight);
    border-radius: 10px;
    border-right: none;
    width: 90%;
    margin: auto;
  }

  form input {
    border: none;
    width: 90%;
  }

  /* Main 3rd sections : Filters - Mobile format */

  #filters p {
    width: 100%;
  }

  div.filterButton {
    margin-bottom: 10px;
  }

  button.filterLabel {
    padding-right: 13px;
    padding-left: 13px;
    font-size: 16px;
  }

  section#filters {
    /*column-gap: 20px;*/
    column-gap: 5%;
  }

  /* End block 2 - <Main reseach> - Mobile format */

  /* Block 3.1 - <Section Accommodation> - Mobile format */
  /* End block 3.1 - <Section Accommodation> - Mobile format */
  article#accommodation {
    border-radius: 0;
    margin: 0;
    background: aqua; /* av */
  }

  #accommodation h2 {
    /*padding-left: 5%;*/
    background: chartreuse;
    /*font-size: 17px;*/
  }

  div#blockCardsAccommodation {
    max-width: 88%;
  }

  div.CardAccommodationItem {
    /*max-width: 340px;*/
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  article#accommodation h2 {
    padding-left: 7%;
  }

  p#readMoreAccommodation {
    background-color: yellow;
    padding-left: 8%;
  }


  /* Block 3.2 - <Aside The Most popular> - Mobile format */
  aside {
    border-radius: 0;
    padding: 0;
    background: aqua; /* av */
  }

  div#titleAside {
    /*max-width: 340px;*/
    max-width: 88%;
    /*font-size: 88%;*/
    background: crimson;
  }

  div#blockCardsAside {
    /*max-width: 340px;*/
    max-width: 88%;

  }

  div.cardAsideItem {
    /*max-width: 340px;*/
    /*grid-template-columns: 135px 215px;*/
    grid-template-columns: 38% 62%;
    max-width: 100%;
  }

  div.textCardAside {
    padding-left: 3%;
    font-size: 88%;
    display: grid;
    grid-template-rows: 40% 25% 1fr;
  }
  
  .textCardAside h3 {
    margin-top: 5%;
    margin-bottom: 0;
  }
  
  .textCardAside p {
    margin:0;
    padding: 0;
  }

  .textCardAside div {
    /*margin-top: 50px;*/
    /*height: 40%;
    display: flex;
    align-items: flex-end;*/
    align-self: flex-end;
    padding-bottom: 5px;
  }

  /*div.textCardAside {
    max-width: 88%;
    }*/
}
/*  End Mobile format */

/* End */
